*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
}
   
.header{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color:  rgb(20, 26, 29);
    

}
.selection2{
    margin-right: 10px;
   padding-left: 35px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 15px;
   width: 120px;
   background-color: rgb(42, 52, 60);
    border: 1px solid rgb(84, 104, 120);
    color: white;
    
}
.selection1{
    margin-right: 10px;
   padding: 15px;
   background-color: rgb(31, 39, 45);
    color: rgb(210, 217, 223);
    
}
.logo{
    height: 60px;
    width: 80px;
   
}
.selection-area{
    padding-left: 20px;
    display: flex;

}
.search-area{
    position: relative;
    display: flex;
    
    
}
.icon{
    position: absolute;
    color: white;
    top: 30%;
    padding-left: 10px;
}
.list{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
   
    
}
.links{
    
    display: flex;
    margin-left: 23px;
    height: 100%;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    
}
.links li{
    text-decoration: none;
    list-style: none;
    height: 100%;

}
.links li a{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    
}
.butt-toggle{
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;

}
.butt-toggle:hover{
    color: white;
    background-color: transparent;
    border: 1px solid transparent;


}
.butt-toggle:active, .butt-toggle:focus, .butt-toggle.focus, .butt-toggle.active{
    color: white;
    background-color: transparent;
    border: 1px solid transparent;

}
.settings{
    font-size: 25px;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.body-down{
    width: 100%;
    height: 100%;
    position: relative;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
     /* Stay at the top */
    left: 0;
    background-color: rgb(42, 52, 60);; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 130px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(210, 217, 223);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav-subtitle{
    color: rgb(210, 217, 223);
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(84, 104, 120);
    margin: 32px 16px 8px;
  }
  .main2{
     background-color: rgb(52, 65, 75);
    height: 100%;
    width: 75%;
    margin-left: 25%;
    padding: 48px 0px;
}
  
  .main2-title{
    color: rgb(210, 217, 223);
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    padding: 0px 62px 8px;
    border-bottom: 1px solid rgb(68, 85, 97);
    
}


  .cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:flex-end ;
    color: white;
    padding: 20px 40px;
  }
  .sidenav-icon{
    font-size: 16px;
    color: rgb(210, 217, 223);
  }
  .upper{
    background-color: rgb(42, 52, 60);
    border: 1px solid rgb(84, 104, 120);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 22px;
    padding: 8px;
  }
  .upper:hover{
    border-color: rgb(105, 131, 150);
}
  .upper:hover, .upper:focus{
    box-shadow: rgb(0 0 0 / 15%) 1px 1px 2px inset;
    transition: all 0.05s ease-out 0s;
}
.forward{
  width: 25px;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    color: rgb(210, 217, 223);
    
}
.butt a:hover {
  color: #6e57e2;
  height: 20px;
  background-color: darkgray;
  width: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  transition: background-color 0.05s ease-out 0s, color;

  }
.butt{
  background-color: rgb(44, 109, 159);
  width: 100px;
  height: 50px;
  text-decoration: none;

}
.forward-body{
  height: 100%;
  display: flex;
  align-items: center;
  
}

.tab{
  color: rgb(197, 209, 214); 
  text-align: left;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lapping{
  background-color: rgb(52, 65, 75);
  height: 100%;
  width: 75%;
  margin-left: 25%;
  padding: 48px 0px;
  color: bisque;
  font-size: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}




